In [1]:
import numpy as np
import pandas as pd

In [2]:
train = r"D:\LULC\raw_data\0_groundtruth\SACLAJ_2014_2016_catclearned.csv"
df_train = pd.read_csv(train)
df_train

          id    category  target_lat  target_lon
0          1         DBF   35.560440  139.212692
1          6       Crops   36.090763  140.240005
2          7  Rice paddy   36.112370  140.206543
3          8       Water   35.870140  140.291473
4          9       Crops   36.090763  140.240005
...      ...         ...         ...         ...
34083  53600  Rice paddy   37.552952  139.882785
34084  53601  Rice paddy   37.553133  139.881737
34085  54110       Crops   36.142841  140.125046
34086  56218       Water   36.100461  140.103965
34087  56219         DBF   36.100742  140.104582

[34088 rows x 4 columns]

In [3]:
unique = np.unique(df_train["category"])
unique

array(['Bare land', 'Crops', 'DBF', 'DNF', 'EBF', 'ENF', 'Grassland',
       'Rice paddy', 'Urban and built-up', 'Water'], dtype=object)

In [7]:
hand_unique = ['Water', 'Urban and built-up', 'Rice paddy', 'Crops', 'Grassland', 'DBF', 'DNF', 'EBF', 'ENF', 'Bare land']
for i in hand_unique:
    num = sum(df_train["category"]==i)
    print(f"{i} = {num}個")

Water = 1714個
Urban and built-up = 3500個
Rice paddy = 8775個
Crops = 6313個
Grassland = 3807個
DBF = 3246個
DNF = 438個
EBF = 1242個
ENF = 4176個
Bare land = 877個

In [6]:
df_train["category"].describe()

count          34088
unique            10
top       Rice paddy
freq            8775
Name: category, dtype: object